<h1 class="title">Cinema Ironhack</h1>
<p></p>
<div class="image-container">
<img class="cinema" src="./images/cinema.jpg" alt="Cinema">
<a href="/movies" <button class="overlay-button">Check the movies!</button></a>
</div>
</div>